{% extends '@Main/layout.html.twig' %}

{% block body %}

    <div class="col-md-9">

        {% if validations_errors is defined %}
            <button class="btn btn-primary btn-lg btn-block red small" data-toggle="modal" data-target="#myModal">
                Hatalar
            </button>
            <br>
        {% endif %}

        <div class="panel-style space forms">
            <h3 class="heading-title">Yeni Proje Ekleme</h3>
            <div class="hr"></div>

            <form method="post">
                <div class="row">
                    <div class="col-md-12">

                        <div class="input-f-wrapper">
                            <label>Takım</label>
                            <select class="form-control" name="team_id">
                                {% for team in teams %}
                                    <option value="{{ team.id }}">{{ team.teamName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-f-wrapper">
                            <label>Proje Tipi</label>
                            <select class="form-control" name="project_type_id">
                                {% for project_type in project_types %}
                                    <option value="{{ project_type.pkProjectTypeId }}">{{ project_type.projectTypeName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-f-wrapper">
                            <label>Proje Adı</label>
                            <input type="text" placeholder="Proje Adını Giriniz" name="form[projectName]">
                        </div>

                        <div class="input-f-wrapper">
                            <label>Proje Açıklaması</label>
                            <textarea class="form-control" name="form[projectDescription]"></textarea>
                        </div>

                        <div class="input-f-wrapper">
                            <label>Proje Özellikleri</label>
                            <textarea class="form-control" name="form[projectProperty]"></textarea>
                        </div>

                        <div class="buttons-wrapper">
                            <a href="{{ path('list-project') }}" class="btn default">Tüm Projeleri Listele</a>
                            <a href="{{ path('create-team') }}" class="btn default">Yeni Takım Oluştur</a>

                            <input type="submit" class="btn blue pull-right" value="Kaydet Ve İlerle">

                        </div>


                        {% if success is defined %}
                            <span style="color: green">* Proje başarılı bir şekilde eklenmiştir</span>
                        {% endif %}

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Boş bırakılan alanlar mevcut</h4>
                </div>

                {% if validations_errors is defined %}
                    <div class="modal-body">
                        <ul>
                            {% for error in validations_errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                {% endif %}

                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}