{% extends '@Main/layout.html.twig' %}

{% block body %}

    <div class="col-md-9">

        <div class="panel-style space forms">
            <h3 class="heading-title">Üye Güncelleme Ekranı</h3>
            <div class="hr"></div>

            <form method="post">
                <div class="row">
                    <div class="col-md-12">

                        <div class="input-f-wrapper">
                            <label>Takım</label>
                            <select class="form-control" name="team_id" disabled>
                                {% for team in teams %}

                                    {% if selected_team_id == team.id %}
                                        <option selected="selected" value="{{ team.id }}">{{ team.teamName }}</option>
                                    {% else %}
                                        <option value="{{ team.id }}">{{ team.teamName }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-f-wrapper">
                            <label>Rol</label>
                            <select class="form-control" name="role_id">
                                {% for role in roles %}

                                    {% if selected_role_id == role.id %}
                                        <option selected="selected" value="{{ role.id }}">{{ role.roleName }}</option>
                                    {% else %}
                                        <option value="{{ role.id }}">{{ role.roleName }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-f-wrapper">
                            {{ form_row(form.memberName) }}
                        </div>

                        <div class="input-f-wrapper">
                            {{ form_row(form.memberSurname) }}

                        </div>

                        <div class="input-f-wrapper">
                            {{ form_row(form.memberEmail) }}
                        </div>

                        <div class="buttons-wrapper">
                            <a href="{{ path('list-member') }}" class="btn default">Tüm Üyeleri Listele</a>
                            <a href="{{ path('create-team') }}" class="btn default">Yeni Takım Oluştur</a>
                            <input type="submit" class="btn blue pull-right" value="Kaydet Ve İlerle">
                        </div>

                        {% if success is defined %}
                            <span style="color: green">* Üye başarılı bir şekilde güncellenmiştir.</span>
                        {% endif %}

                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}