{% extends '@Main/layout.html.twig' %}

{% block body %}
    <div class="col-md-9">

        <div class="panel-style space">

            <h3 class="heading-title">Tüm Takımlar Listesi</h3>

            <table class="table simple">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Logo</th>
                    <th>Takım Adı</th>
                    <th>Slogan</th>
                    <th>Eklenme Tarihi</th>
                </tr>
                </thead>
                <tbody>

                {% for team in teams %}
                    <tr>
                        <td>{{ team.id }}</td>
                        <td>
                            <img style="max-height:50px; max-width:50px;"
                                 src="{{ asset('bundles/main/team-photo/') }}{{ team.teamPhoto }}">
                        </td>
                        <td>{{ team.teamName }}</td>
                        <td>{{ team.teamSlogan }}</td>
                        <td>{{ team.teamCreatedDate|date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path('remove-team',{id:team.id}) }}"
                               onclick="return confirm('Silmek istediğinize eminmisiniz ?')">Sil</a> | <a
                                    href="{{ path('edit-team',{id:team.id}) }}">Güncelle</a>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="buttons-wrapper">
                <a href="{{ path('create-team') }}" class="btn default">Takım Ekleme İşlemi</a>
            </div>
        </div>
    </div>
{% endblock %}